label {
	font-size: 16px; 
	width: 100px; 
	display: block; 
	text-align: right;
	margin-right: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.form-area {
	max-width: 700px;
}

.form-area input {
	width: 100%;
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 16px;
}

.form-area button {
	width: 50%;
	min-width: 120px
}