html, body{
	padding:0px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	min-width: 950px;
	background: #CCC;
}

.wrapper {
	background: #CCC;
}

.failed {
	color: #FF0033;
	line-height: 15px;
	font-weight: bold;
}

.form-area {
	color: #BBB;
	max-width: 700px;
}

.form-area input {
	width: 100%;
}

.form-area button {
	width: 50%;
	min-width: 120px;
}